body {
  background-image: url('http://i.imgur.com/ZNZHedY.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

ul li {
  list-style-type: none;
}

.btn-success {
  float: right;
  margin: .25em;
}

.btn-danger {
  float: right;
  margin: .25em;
}

.format_box {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: black;
  width: 40%;
  padding: 10px;
  color: white;
  position: center;
  min-width: 250px;
  margin: 0px auto;
  margin-top: 10%;
  background-color:rgba(0,0,0,0.7);
}

.navbar {
  margin-bottom: 0px;
}


