body {
  background-image: url('http://i.imgur.com/zgMWMI6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


ul li {
  list-style-type: none;
}

.btn-success {
  float: right;
  margin: .25em;
}

.btn-danger {
  float: right;
  margin: .25em;
}


